* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .top_container {
      background-color: #333;
      color: white;
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 1;
      padding: 1% 10%;
      
  }
  .my_portfolio {
  grid-row: 1;
  grid-column: 1;
  text-align: left;
  }
  .menu {
  grid-row: 1;
  grid-column: 2;
  text-align: right;
  }
  
  
  .menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: right;
  margin-right: 50%;
  margin-left: 73.5%;
  margin-top: 2%;
  }
  
  .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(51, 51, 51);}
  
  .menu:hover .dropdown-content {display: block;}
  
  .menu:hover .dropbtn {background-color: rgb(51, 51, 51);}
  
  
  
  #more {display: none;}
  
  #about, #cv, #skills, #contact {
  padding: 4% 10% 4% 10%;
  }
  /*
  #about {
    background: linear-gradient( rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7) ),url('https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-color: rgba(237, 250, 238, 0.74);
  }*/
  #about {
    background: linear-gradient(rgba(88, 88, 88, 0.5), rgba(88, 88, 88, 0.5)), url('https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  }
  #about {
    color: white;
  }
  /*
  .container {
    max-width: 1200px;
    height: 380px;
    margin: 0 auto;
    background-color: rgba(237, 250, 238, 0.74);
    padding: 0;
  }*/
  .text_image {
  margin-bottom: 5%;
  margin-left: 5%;
  background-color: khaki;
  }
  #myBtn {
    background-color: rgb(126, 212, 252);
    border: none;
    color: black;
    width: 110px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    box-shadow: none;
    border-radius: 5%;
  }
  #myBtn:hover {
  cursor: pointer;
  background-color:  rgb(108, 181, 214);
  }
  
  #cv {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  img {
  width: 100%;
  float: left;
  margin-right: 4%;
  margin-bottom: 20px;
  border-radius: 6px;
  }
  .picture {
  width: 30%;
  }
  .text {
  width: 65%;
  }
  
  .flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3% 0 3% 0;
  text-align: center;
  }
  
  .flex_item {
  width: 20%;
  height: auto;
  background-color: white;
  color: #333;
  }
  
  #skills {
  background-color: lightgray;
  color: #333;
  }
  
  footer {
  background-color: #333;
  color: white;
  }
  
  .container_4 {
  max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    background-color: rgba(237, 250, 238, 0.74);
    padding: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
  }
  
  
  .container {
  width: 100%;
  background-color: #ddd;
  }
  
  .skills {
  text-align: right;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  color: white;
  }
  
  .html {width: 80%; background-color: #4CAF50;}
  .css {width: 40%; background-color: #2196F3;}
  .js {width: 5%; background-color: #2196F3;}
  .design {width: 5%; background-color: #4CAF50;}
  
  .footer_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  }
  
  
  
  .form-group {
  margin: 4% 0;
  }
  .form-group label {
  display: block;
  font-size: 10px;
  margin-bottom: 5px;
  color: white;
  }
  .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid rgb(181, 185, 185);
  }
  
  .submit_button {
  background-color: rgb(126, 212, 252);
    border: none;
    color: black;
    width: 110px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    box-shadow: none;
    border-radius: 5%;
  }
  .submit_button:hover{
  cursor: pointer;
  background-color: rgb(108, 181, 214);
  }
  /*dropdown menu*/
  .show {display: block;}
  
  /*back to top button */
  #topBtn{
  display: none;
  position: fixed;
  background-color: rgb(196, 195, 195);
  bottom: 5%;
  right: 2%;
    border: none;
    color: black;
    width: 7%;
    height: 5%;
    padding: 0.5%;
    text-align: center;
    font-weight: bold;
    box-shadow: none;
    border-radius: 5%;
  }
  #topBtn:hover{
  cursor: pointer;
  background-color: darkgrey;
  }
  
  
  #myBtn2 {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(167, 164, 164); /* Set a background color */
  background-color: lightgrey;
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 12px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
  }
  
  #myBtn2:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  }